# Python
env/
__pycache__/
*.pyc
*.pyo

# Node.js
node_modules/
*.log
.env
.env.production

# macOS
.DS_Store

# React Build
**/build/

# Static files for backend
backend/static/

# Alembic migrations (versions folder)
backend/alembic/versions/
