.assign-employee,
.assign-actions {
  display: flex;
  gap: 14px;
  align-items: center;
}

@media screen and (max-width: 1080px) {
  .assign-employee {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 740px) {
  .assign-employee,
  .assign-actions {
    width: 100%;
  }
}