.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--secondary-color);
}

.link-container {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 1.4rem;
}

.link {
  color: var(--light-color);
}

.active-link {
  color: var(--yellow-color);
}

@media screen and (max-width: 740px) {
  .nav-container {
    flex-direction: column;
  }

  .link-container {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.1rem;
    justify-content: space-between;
  }
}
