.btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: var(--light-color);
  cursor: pointer;
  transition: filter 0.3s;
  height: fit-content;
}

.btn:hover {
  filter: brightness(70%);
}

.svg-btn:hover {
  filter: brightness(94%);
}

.btn:disabled {
  cursor: auto;
  background-color: var(--box-background-color);
}

.btn:disabled:hover {
  filter: brightness(100%);
}

.success-btn {
  background-color: var(--yellow-color);
  color: var(--main-color);
}

.remove-btn {
  background-color: var(--red-color);
}

.svg-btn {
  background-color: var(--light-color);
  width: 34px;
  height: 34px;
  padding: 0;
  border-radius: 50%;
}

.bin-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 740px) {
  .btn {
    width: 100%;
  }
}
