.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  width: 360px;
  padding: 14px;
  background-color: var(--box-background-color);
}

.item {
  color: var(--yellow-color);
  list-style: none;
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 8px;
}

@media screen and (max-width: 440px) {
  .card {
    width: 280px;
  }
}
